@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*, h1, p, h2, a, body{
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
    min-height:200px;
    margin:auto;
}
.page{
    width:1918px;
    min-height:200px;
    margin:auto;
}
.main{
    width:1918px;
    height:822px;
    border-radius:0, 0, 64px, 64px;
    background-image:url("imgs/bg-image.png");
    padding-top:32px;
    background-size:cover;
}
.header{
    width:100%;
    height:48px;
    display:flex;
}
.header-wrap{
    width:1360px;
    height:48px;
    display:flex;
    margin:auto;
}
.logo{
    width:88px;
    height:36px;
    background-image: url("imgs/logo.png");
    background-size:cover;
    margin-right:150px;
    padding-top:2px;
}
.menu{
    width:857px;
    height:36px;
    display:flex;
    padding-top:12px;
}
.menu li{
    min-width:40px;
    height:24px;
    display:block;
    align-items:center;
}
.menu li a{
    line-height:24px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    font-family:'Manrope', sans-serif;
    opacity:70%;
    max-width:97px;
    color:white;
    list-style: none;
    text-decoration: none;
    margin-right:36px;
}
.login{
    display:flex;
    width:170px;
    height:48px;
    margin-left:123px;
}
.login-text{
    width:114px;
    height:40px;
    margin-top:4px;
    display:flex;
    flex-direction: column;
}
.welcome, .name{
    font-size:14px;
    line-height:14px;
}
.welcome{
    line-height:20px;
    font-family:'Manrope', sans-serif;
    font-size:14px;
    text-align:right;
    color:grey;
}
.name{
    font-family:'Poppins', sans-serif;
    color:white;
}
.login-imgs{
    display:flex;
    width:48px;
    height:48px;
    margin-left:8px;
    z-index:1;
}
.avatar{
    width:48px;
    height:48px;
    border-radius:100%;
    z-index:0;
    background-image:url("imgs/woman.png")
}
.status{
    border-radius:100%;
    background-color:red;
    width:12px;
    height:12px;
    position:absolute;
    top:32px;
    right:-120px;
    border:0.5px solid black;
}
.discover{
    width:1360px;
    min-height:300px;
    margin:auto;
}
.discover p{
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    font-size:48px;
    margin-top:184px;
    line-height:62px;
    color:white;
    margin-left:150px;
}
.disc-button{
    width:338px;
    height:72px;
    margin-top:32px;
    background-color:#7B61FF;
    margin-left:511px;
    border-radius:12px;
    font-size:18px;
    font-family:'Poppins', sans-serif;
    font-weight:medium;
    color:white;
    border:none;
    text-align:center;  
}
.search-bar{
    margin-top:184px;
    width:1140px;
    height:88px;
    background-color:#FFFFFF;
    margin-left:auto;
    margin-right:auto;
    border-radius:12px;
    padding-left:8px;
    padding-top:8px;
    display:flex;
}
.sb-inside{
    width:1064px;
    height:72px;
    display:flex;
}
.location{
    display:flex;
    padding-top:16px;
    width:300px;
    height:56px;
}
.location img, .activity img, .when img, .guests img{
   margin-top:8px; 
   width:24px;
   height:24px;
   margin-left:16px;
}
.loc-text{
    width:238px;
    height:40px;
    margin-left:16px;
}
.loc-text h1, .loc-text p{
    font-family:'Poppins', sans-serif;
}
.loc-text h1{
    font-size:14px;
    font-weight:200;
    color:gray;
    line-height:20px;
}
.loc-text p{
    font-size:16px;
    font-weight:100;
    color:black;
    line-height:24px;
    margin:0;
}
.activity, .when, .guests{
    width:254.67px;
    height:56px;
    padding-top:16px;
    display:flex;
}
.act-text, .wh-text{
    width:133px;
    height:40px;
    margin-left:16px;
}
.act-text h1, .wh-text h1{
    font-size:14px;
    font-weight:200;
    font-family:'Manrope',sans-serif;
    color:gray;
    line-height:20px;
}
.act-text p, .wh-text p{
    font-size:16px;
    font-weight:100;
    color:black;
    line-height:24px;
    margin:0;
}
.guests{
    width:200px;
}
.guest-text{
    width:76px;
    height:40px;
    margin-left:16px;
}
.guest-text h1{
    font-family:'Manrope', sans-serif;
    font-size:14px;
    font-weight:lighter;
    color:gray;
    line-height:20px;
}
.guest-text p{
    font-family:'Poppins', sans-serif;
    font-weight:100;
    font-size:16px;
    color:black;
    line-height:24px;
    margin:0;
}
.search-button{
    width:60px;
    height:60px;
    background-color:#7B61FF;
    margin-top:8px;
    border-radius:12px;
}
.search-button img{
    width:24px;
    height:24px;
    margin-top:16px;
    margin-left:16px;
}